<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::title}, ~{::div})}"
      xmlns:th="http://www.thymeleaf.org">

<!-- Form controls -->
<div class="card mb-4">
	<h5 class="card-header">구장 생성</h5>
	<form th:action th:object="${item}" method="post">
		<div class="card-body">
			<div class="mb-3">
				<label for="name" class="form-label">이름</label>
				<input type="text" class="form-control" id="name" th:field="*{name}"/>
			</div>
			<div class="mb-3">
				<label for="address" class="form-label">주소</label>
				<input type="text" class="form-control" id="address" th:field="*{address}"/>
			</div>
			<div class="mb-3 row">
				<label for="latitude" class="form-label">위도</label>
				<input type="number" class="form-control" id="latitude" th:field="*{latitude}"/>
			</div>
			<div class="mb-3 row">
				<label for="longitude" class="form-label">경도</label>
				<input type="number" class="form-control" id="longitude" th:field="*{longitude}"/>
			</div>
			<button class="btn btn-primary" type="submit">등록</button>
		</div>
	</form>
</div>
</html>


