<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::title}, ~{::div})}"
      xmlns:th="http://www.thymeleaf.org">

<!-- Form controls -->
<div class="card mb-4">
	<h5 class="card-header">매치 상세</h5>
	<div class="card-body">
		<div class="form-check form-switch mb-3">
			<label class="form-check-label" for="home">홈여부</label>
			<input class="form-check-input" type="checkbox" id="home" th:value="${item.home}" th:checked="${item.home}" disabled>
		</div>
		<div class="mb-3">
			<label for="id" class="form-label">ID</label>
			<input type="text" class="form-control" id="id" th:value="${item.id}" readonly/>
		</div>
		<div class="mb-3">
			<label for="teamName" class="form-label">팀명</label>
			<input type="text" class="form-control" id="teamName" th:value="${item.team.name}" readonly/>
		</div>
		<div class="mb-3">
			<label for="memberName" class="form-label">상대팀명</label>
			<input type="text" class="form-control" id="memberName" th:value="${item.otherTeamName}" readonly/>
		</div>
		<div class="mb-3">
			<label for="notice" class="form-label">공지</label>
			<textarea class="form-control" id="notice" rows="3" th:text="${item.notice}" readonly></textarea>
		</div>
		<div class="mb-3">
			<label for="stadium" class="col-md-2 col-form-label">구장</label>
			<input type="text" class="form-control" id="stadium" th:value="${item.stadium.name}" readonly/>
		</div>
		<div class="mb-3">
			<label for="status" class="col-md-2 col-form-label">상태</label>
			<input type="text" class="form-control" id="status" th:value="${item.status.description}" readonly/>
		</div>
		<div class="mb-3">
			<label for="startDate" class="form-label">매치시작일자</label>
			<input type="text" class="form-control" id="startDate" th:value="${item.matchDate.startDate}" readonly/>
		</div>
		<div class="mb-3">
			<label for="endDate" class="form-label">매치종료일자</label>
			<input type="text" class="form-control" id="endDate" th:value="${item.matchDate.endDate}" readonly/>
		</div>
		<div class="mb-3">
			<label for="voteStartDate" class="form-label">투표시작일자</label>
			<input type="text" class="form-control" id="voteStartDate" th:value="${item.voteDate.startDate}" readonly/>
		</div>
		<div class="mb-3">
			<label for="voteEndDate" class="form-label">투표종료일자</label>
			<input type="text" class="form-control" id="voteEndDate" th:value="${item.voteDate.endDate}" readonly/>
		</div>
		<div class="mb-3">
			<label for="attendDeadlineDate" class="form-label">출석마감일자</label>
			<input type="text" class="form-control" id="attendDeadlineDate" th:value="${item.attendDate.deadlineDate}" readonly/>
		</div>
		<div class="mb-3">
			<label for="createdDate" class="form-label">생성일자</label>
			<input type="text" class="form-control" id="createdDate" th:value="${item.createdDate}" readonly/>
		</div>
		<div class="mb-3">
			<label for="updatedDate" class="form-label">수정일자</label>
			<input type="text" class="form-control" id="updatedDate" th:value="${item.updatedDate}" readonly/>
		</div>
		<a class="btn btn-secondary" th:href="@{/match}">취소</a>
		<a class="btn btn-primary" th:href="@{/match/modify/{id}(id = ${item.id})}">수정</a>
	</div>
</div>
</html>


